<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>rory</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
		<style>
			body {
				position: relative;
				font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
				overflow-x: hidden;
				background-color: #f5f5f5;
			}
			.notC{
				-moz-user-select:none;/*火狐*/
				-webkit-user-select:none;/*webkit浏览器*/
				-ms-user-select:none;/*IE10*/
				-khtml-user-select:none;/*早期浏览器*/
				user-select:none;
			}
			
			.calss {
				position: fixed;
				right: 0;
				top: 50px;
				height: 100%;
				background-color: #FFCCCC;
				width: 22%;
			}
			
			.calst {
				position: fixed;
				top: 0;
				width: 100%;
				height: 50px;
				z-index: 99;
				background-color: #FFFFCC;
			}
			
			.ht {
				margin-top: 58px;
				padding-bottom: 50px;
			}
			
			.calsb {
				background: #FFFFCC;
				height: 50px;
				text-align: center;
				line-height: 50px;
				font-size: 18px;
				display: none;
				position: fixed;
				bottom: 0px;
				width: 100%;
			}
			
			.rig {
				position: fixed;
				right: 10px;
				height: 25px;
				width: 25px;
			}
			
			.jumbotron {
				margin-bottom: 10px;
				width: 94%;
				background-color: #CCFFFF;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row ">
				<div class="col-md-12 calst">
					<div>12
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 ht">
					<div>
				

						<div class="jumbotron notC">
							<h1>Hello, world!
							</h1>
							<p>...<div class="input-group">
							<input type="text" class="form-control" placeholder="Username">
						</div></p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
					
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
						<div class="jumbotron">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>
						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

						<div class="jumbotron">
							<div class="container">
								...
							</div>
						</div>

					</div>
				</div>
				<div class="col-sm-2 calss">
					
					<div class="row" style="height: 8%">
						<div class="col-md-12">
							搜索
							<div class="row">
								<input type="text"/>
							</div>
						</div>
					</div>

					<div class="row" style="height: 30%">
						<div class="col-md-12">
							博主简介
							<div class="row">
								<img src="img/close.png" />
							</div>
						</div>
					</div>

					<div class="row" style="height: 35%">
						<div class="col-md-12">
							推荐文章
							<ul id="myTab" class="nav nav-tabs">
								<li class="active">
									<a href="#home" data-toggle="tab">
										1
									</a>
								</li>
								<li>
									<a href="#ios" data-toggle="tab">2</a>
								</li>
								<!-- <li class="dropdown">
									<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">3
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
										<li>
											<a href="#jmeter" tabindex="-1" data-toggle="tab">3.1</a>
										</li>
										<li>
											<a href="#ejb" tabindex="-1" data-toggle="tab">3.2</a>
										</li>
									</ul>
								</li> -->
							</ul>
							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade in active" id="home">
									<table class="table table-condensed">
										<tr>
											<td>123Home</td>
											<td>345</td>
										</tr>
										<tr>
											<td>123</td>
											<td>345</td>
										</tr>
									</table>
								</div>
								<div class="tab-pane fade" id="ios">
									<table class="table table-condensed">
								<tr>
									<td>123ios</td>
									<td>345</td>
								</tr>
								<tr>
									<td>123</td>
									<td>345</td>
								</tr>
							</table>
								</div>
							<!-- 	<div class="tab-pane fade" id="jmeter">
									<table class="table table-condensed">
								<tr>
									<td>123jme</td>
									<td>345</td>
								</tr>
								<tr>
									<td>123</td>
									<td>345</td>
								</tr>
							</table>
								</div>
								<div class="tab-pane fade" id="ejb">
									<table class="table table-condensed">
								<tr>
									<td>123ejb</td>
									<td>345</td>
								</tr>
								<tr>
									<td>123</td>
									<td>345</td>
								</tr>
							</table>
								</div> -->
							</div>

							<span id="topt" style="display:none;">上去</span>
						</div>
					</div>
					<div class="row" style="height: 10%">
						<div class="col-md-12">
							友情链接OR打赏
							<table class="table table-condensed">
								<tr>
									<td>123</td>
									<td>345</td>
								</tr>
								<tr>
									<td>123</td>
									<td>345</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 悬浮窗 -->
		<div class="yb_conct">
		  <div class="yb_bar">
		    <ul>
		      <li class="yb_top">返回顶部</li>
		      <li class="yb_phone">4008-123-456</li>
		      <li class="yb_QQ">
		      	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=503362323&amp;site=qq&amp;menu=yes" title="即刻发送您的需求">在线咨询</a>
		      </li>

		      <li class="yb_ercode" style="height:53px;">QQ二维码 <br>
		        <img class="hd_qr" src="img/weixin.jpg" width="125" alt="关注你附近"> </li>
		    </ul>
		  </div>
		</div>

		<!-- 加载更多 -->
		<div>
			<div class='calsb col-md-12'><img src="img/loading.gif" title="加载中"> 数据加载中 <img id="closeLoad" class="rig" src="img/close.png" title="隐藏加载条"></div>
		</div>
		<!-- JS引用 -->
		<script src="js/jquery-3.1.1.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!-- JS定义 -->
		<script type="text/javascript">
			//匿名函数调用(隐式闭包特性)
			(function() {
				var clicktag = 0;
				$(document).ready(function() {
					$(window).scroll(function() {
						//至下100高度时调用加载
						if($(document).scrollTop() >= $(document).height() - $(window).height() - 100) {
							if(clicktag == 0) { //防止同一时间加载多次
								clicktag = 1;
								load();
								setTimeout(function() {
									clicktag = 0
								}, 5000); //还原判断参数
							}
						}
					})
				})

				function load() {
					$('.calsb').show(); //显示加载时候的提示
					setTimeout(function() {
						$('.calsb').hide();
					}, 2500); //自动关闭
					// $.ajax({
					//     type:"GET",
					//     url:'',
					//     dataType:'json',
					//     beforeSend:function(){
					//     },
					//     success:function(ret){
					//      $(".after_div").before(ret) //将ajxa请求的数据追加到内容里面
					//      $('.calsb').hide() //请求成功,隐藏加载提示
					//     }
					// })
				}

				//给单个元素绑定
				$("#closeLoad").on("click", function() {
					$('.calsb').hide() //隐藏加载提示
				});
				//给多个元素绑定(选择由哪个元素触发)
				// $("#closeLoad").on("click","img", function() {      //do something here  });

				//当滚动条的位置处于页面高度的1/2时 显示向上
				$(window).scroll(function() {
					var bar = (document.body.scrollHeight) / 2;
					if($(window).scrollTop() > bar) {
						$("#topt").fadeIn(100);
					} else {
						$("#topt").fadeOut(100);
					}
				});
				//当点击跳转链接后，回到页面顶部位置  
				$("#topt").on("click", function() {
					$('body,html').animate({
						scrollTop: 0
					}, 300);
					// if ($('html').scrollTop()) {  
					//     $('html').animate({ scrollTop: 0 }, 1000);  
					//     return false;  
					// }  
					// $('body').animate({ scrollTop: 0 }, 1000);  
					//      return false;              
					// alert("yes");
				});

				// 悬浮窗口
				$(".yb_conct").hover(function() {
					$(".yb_conct").css("right", "5px");
					$(".yb_bar .yb_ercode").css('height', '200px');
				}, function() {
					$(".yb_conct").css("right", "-127px");
					$(".yb_bar .yb_ercode").css('height', '53px');
				});
			})();
		</script>

	</body>

</html>